body { color: #26233B; }

.nav-link { color: #26233B; font-family: "Alexandria", sans-serif; font-weight: 500; }
.nav-link:hover { color: #FB0040; }
.nav-link.active { color: #FB0040!important; }

.hero-titulo { font-size: 4rem; font-family: "Alexandria", sans-serif; font-weight: 300; }
.hero-titulo b { font-weight: 600; }
.hero-parrafo { font-size: 2.5rem; font-family: "Alexandria", sans-serif; font-weight: 200; }

.bg-gris { background: linear-gradient(45deg, #F5F4F7, #FAFAFA); border-radius: 20px; margin: 20px; box-sizing: border-box; position: relative; }

.hero {
    height: calc(100vh - 152px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Alínea la imagen hacia el borde derecho */
  .hero .col-lg-7 {
    display: flex;
    justify-content: flex-end; /* Alínea la imagen a la derecha */
    padding-right: 0; /* Quita el padding derecho */
  }

  .image-outside {
    position: absolute;
    right: 0; /* Ajusta este valor para mover la imagen hacia la derecha */
    bottom: 0; /* Asegúrate de que quede alineada con la parte inferior del hero */
    max-width: 39vw; /* Ajusta el tamaño según necesites */
    height: auto;
    border-radius: 0 0 20px 0;
  }

  .sticky-header {
    position: sticky;
    top: 20px;
    margin: 0 20px;
    z-index: 1000; /* Asegúrate de que esté en la parte superior */
    display: none; /* Oculto por defecto */
    background-color: #F5F4F7;
    border-radius: 20px;
  }

  .sticky-header.active {
    display: block; /* Mostrar cuando se active */
  }

  .white {
    color: #fff;
  }

  /* RESPONSIVE **********************************************************************/

  @media (max-width: 576px) { 
    .hero-titulo {
        font-size: 10vw;
    }

    .hero-parrafo {
        font-size: 5vw; 
    }

    .image-outside {
        max-width: 50vw; 
    }

    .hero {
        height: calc(100vh - 152px);
        padding-top: 50px;
        display: flex;
        align-items: start;
        justify-content: start;
      }
}

